html,body {
    height: 100%;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
}
@font-face
{
    font-family: wawaFont;
    src: url('../lib/wawa.TTF');
}
.swiper-slide {
    background: rgba(51,169,230,1);
}
.container {
    position: relative;
}
.home {
    width: 100%;
    height: 100%;
    text-align: center;
}
.home img {
    width: 100%;
    height: 100%;
}
.person {
    width: 100%;
    height: 40%;
    text-align: center;
    position: relative;
}
.person img {
    height: 240%;
    width: 100%;
}
.bottom {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: -2%;
}
.bottom img {
    width: 100%;
    height: 80%;
}
.bottom-text{
	width: 100%;
    position: absolute;
    bottom: 5px;
    text-align:center;
    font-family: wawaFont;
}
.center {
    width: 100%;
    height: 50%;
    text-align: center;
    position: relative;
}
.center img.pop {
    width: 86%;
    height: 90%;
    text-align: center;
    margin-top: 10%;
}
.center img.next {
    width: 26%;
    position: absolute;
    bottom: -6%;
    left: 37%;
    /*height: 20%;*/
}
img.begin {
    position: absolute;
    width: 36%;
    height: 10%;
    bottom: 8%;
    left: 32%;
}
span.pageCount {
    width: 20%;
    position: absolute;
    font-family: Microsoft Yahei;
    color: #133b6f;
    left: 43%;
    top: 15%;
    font-weight: bold;
    font-size: 110%;
}
span.question {
    position: absolute;
    bottom: 6%;
    width: 66%;
    left: 17%;
    font-size: 110%;
    color: white;
    font-family: wawaFont;
}
.answer {
    position: absolute;
    top: 32%;
    width: 72%;
    left: 14%;
    font-size: 100%;
    height: 54%;
    font-family: wawaFont;
    font-weight: bold;
}
.answer span {
    display: block;
    text-align: left;
    padding: 4% 0%;
    border-bottom: 2px dashed black;
    color: #bf2b2b;
}
.swiper-slide{
    height: 100%;
    width: 100%;
    position:relative;
    z-index:-999;
}
.bg{
    height: 100%;
    width: 100%;
    position:relative;
    z-index:-900;
}
.line{
    width:100%;
    height:12%;
    position:absolute;
    bottom:0;
    left:0;
    z-index:-99;
}
.div_again{
    width:100%;
    height:10%;
    position:absolute;
    top:85%;
    text-align:center;
}
.btn_again{
    width:35%;
    height:100%;
    position:relative;
}
.btn_receive{
    width:60%;
    height:12%;
    position:absolute;
    top:82%;
    left:22%;
}
.div_input{
    width:100%;
    height:10%;
    position:absolute;
    top:5%;
    text-align:center;
}
.btn_input{
    width:72%;
    height:100%;
    position:relative;
}
.input{
    width: 66%;
    height: 25px;
    border: 0;
    margin-top: 4%;
    font-size: 90%;
    color: #3c3b3b;
    font-weight: bold;
    font-family: Microsoft Yahei;
    text-align: center;
}
.div_sure{
    width:100%;
    height:10%;
    position:absolute;
    top:85%;
    text-align:center;
}
.btn_sure{
    width:30%;
    position:relative;
}
.div_attention{
	width:100%;
	height:20%;
	position:absolute;
	text-align:center;
	top:32%;
}
.attention{
	font-family:wawaFont;
	font-size:16px;
	color:#FFFFFF;
	position:relative;
}
.div_errorMsg{
	width:100%;
	height:20%;
	position:absolute;
	text-align:center;
	top:75%;
}
.errorMsg{
	font-family:wawaFont;
	font-size:16px;
	color:red;
	position:relative;
}
.msg{
	color:red !important;
}

.out_or_in {
    position: absolute;
    top: 15%;
    text-align: center;
    width: 100%;
}

img#btn_in {
    width: 60%;
}

img#btn_out {
    width: 60%;
    padding-top: 5%;
}
.out_person {
    position: absolute;
    top: 35%;
    text-align: center;
    width: 100%;
    height: 60%;
    display: none;
}
img.choose {
    width: 80%;
    height: 100%;
}
.out_pic_box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.out_pic_box {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
}

.out_pic {
    width: 100%;
    height: 11%;
}

.out_pics{
	height: 60%;
}


.div_input1 {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 6%;
    text-align: center;
}

.div_input2 {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 56%;
    text-align: center;
}

img.btn_input1 {
    width: 80%;
    height: 90%;
}

img.btn_input2 {
    width: 80%;
    height: 90%;
}