@charset "UTF-8";
/*有序和无序字符串*/
body.firefox .header:before {
  content: "Hi, Firefox users!"; }

/*普通变量与默认变量*/
body {
  font-size: 14px; }

/*局部变量和全局变量*/
.block {
  color: orange; }

em a {
  color: red; }

span {
  color: orange; }

/* 计算功能 +*/
.box {
  width: 788px; }

/* + - 单位不同报错*/
.box {
  width: 21px; }

.content {
  width: 959px; }

.box {
  width: 20px; }

.box1 {
  width: 2500px; }

p {
  font: 10px/8px;
  height: 2;
  width: 500px;
  width: 1;
  height: 250px;
  margin-left: 9px; }

.box:before {
  content: " HelloSass! "; }

div {
  cursor: "e-resize";
  position: relative; }

/* 选择器嵌套*/
nav a {
  color: red; }
  nav a:hover {
    color: green; }
  head nav a {
    color: green; }

/* 属性嵌套*/
.box {
  font-size: 12px;
  font-weight: bold; }

/* 伪类嵌套*/
.box:before {
  content: '伪元素嵌套'; }

/*混合宏传多个参数*/
.box-center {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px; }

/*混合宏传多个参数 ...*/
.box {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0 0 2px rgba(0, 0, 0, 0.2); }

.box1 {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25); }

/*混合宏的不足*/
.box {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 5px; }

.btn, .btn-primary, .btn-default {
  -webkit-border-radius: 3px;
  border-radius: 3px; }

/*继承*/
.btn, .btn-primary, .btn-default {
  border: 1px solid #ccc;
  padding: 6px 10px;
  font-size: 14px; }

.btn-primary {
  background-color: #f36;
  color: #fff; }

.btn-default {
  background-color: orange;
  color: #fff; }

/*占位符*/
.btn, .btn-primary, .btn-default {
  margin-top: 5px; }

.btn, .btn-primary, .btn-default {
  padding-top: 5px; }

/*函数*/
.test {
  text: AAAAA;
  text: aa-aaaa-aaa; }

.footer {
  width: 12px; }

.footer1 {
  width: 3; }

.btn-dribble {
  color: #3b5998; }

/*for循环*/
.border-1 {
  border: 1px solid blue; }

.border-2 {
  border: 2px solid blue; }

.border-1 {
  border: 1px solid blue; }

.border-2 {
  border: 2px solid blue; }

.border-3 {
  border: 3px solid blue; }

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  float: left;
  margin-left: 10px;
  margin-right: 10px; }

.span1 {
  width: 60px; }

.span2 {
  width: 140px; }

.span3 {
  width: 220px; }

.span4 {
  width: 300px; }

.span5 {
  width: 380px; }

.span6 {
  width: 460px; }

.span7 {
  width: 540px; }

.span8 {
  width: 620px; }

.span9 {
  width: 700px; }

.span10 {
  width: 780px; }

.span11 {
  width: 860px; }

.span12 {
  width: 940px; }

.item-6 {
  width: 12em; }

.item-4 {
  width: 8em; }

.item-2 {
  width: 4em; }

/*each循环*/
.author-bio .photo-adam {
  background: url("/images/avatars/adam.png") no-repeat; }
.author-bio .photo-john {
  background: url("/images/avatars/john.png") no-repeat; }
.author-bio .photo-wynn {
  background: url("/images/avatars/wynn.png") no-repeat; }
.author-bio .photo-mason {
  background: url("/images/avatars/mason.png") no-repeat; }
.author-bio .photo-kuroir {
  background: url("/images/avatars/kuroir.png") no-repeat; }

/*@规则*/
.sidebar {
  width: 300px; }
  @media screen and (orientation: landscape) {
    .sidebar {
      width: 500px; } }

.test {
  width: 90px; }

.test {
  width: 90px; }

/*# sourceMappingURL=test-t.css.map */
